:root {
  --md-accent-fg-color:        #33d17a;
  --md-accent-fg-color--light: #8ff0a4;
  --md-accent-fg-color--dark:  #26a269;
  --md-primary-fg-color:        #5e5c64;
  --md-primary-fg-color--light: #9a9996;
  --md-primary-fg-color--dark: #3D3C40;
}
